apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: gcr.io/speedscale-demos/smart-replace-client:latest
        env:
        - name: CART_SERVICE_HOST
          value: cart-service
        - name: CART_SERVICE_PORT
          value: "8080"
        - name: REQUEST_INTERVAL_MS
          value: "3000"
        envFrom:
        - configMapRef:
            name: client-config
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"
